:root {
    --resultarea-primary: #121216;
    --resultarea-secondary: white;
}

.dark_mode {
    --rusultarea-primary: white;
    --resultarea-secondary: #121216;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: var(--resultarea-primary);
}


table {
    width: 100%;
    height: 64.5vh;
    color: white;
    background-color: #121216;
    user-select: none;
    padding: 1px;
}


td {
    width: 25%;
    text-align: center;
    background-color: #23232D;
    font-size: 24px;
    border-radius: 15px;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0.1px;
    border-color: transparent;
}

td:hover {
    cursor: pointer;
    transition: ease-in-out 200ms;
    overflow: auto;
    background-color: #32323d;
}

td:active {
    transition: 350ms;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0.1pt;
    border-color: white;
}

.highlightnumbers {
    background-color: #2c2c36;
}

.ErweiterteFunktionen {
    color: white;
}

@media screen and (min-width: 338px) {
    td {
        width: 20%;
    }
}

@media screen and (max-width: 338px) {
    .ErweiterteFunktionen {
        display: none;
    }

    .Minimizebtn {
        display: none;
    }
}

@media screen and (min-width: 338px) {
    .Extendbtn {
        display: none;
    }
}

#resultArea {
    height: 18.7vh;
    background-color: var(--resultarea-primary);
    color: white;
    font-size: 42px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
    transition: ease-in-out 200ms;
    overflow: hidden;
}

.QuickResultAreaStyle {
    height: 19.5vh;

    box-sizing: border-box;
    width: 100%;
    height: 69vh;
    color: white;
    background-color: #121216;
    user-select: none;
    padding: 1px;
}

#resultArea:hover {
    color: rgba(255, 255, 255, 0.623);
}

#result {
    background-image: linear-gradient(to right top, #181f6e, #7d1276, #c40465, #f14243, #ff8400);
    border: none;
}

#result:hover {
    background-image: linear-gradient(to right top, #252b6b, #7d2e79, #c4346e, #f2594f, #ff9421);
    transition: 200ms;
}

.highlight {
    background-color: #191922;
}


.menu {
    height: 8.5vh;
    background-color: #191922;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.titlebar1 {
    font-size: 20px;
    user-select: none;
}

.btn {
    background-color: transparent;
    /* Blue background */
    border: none;
    /* Remove borders */
    color: white;
    /* White text */
    padding: 12px 16px;
    /* Some padding */
    font-size: 16px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
    height: 8.5vh;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #23232D;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Navigationsleiste design */

body {
    font-family: "robot", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--resultarea-primary);
    overflow-x: hidden;
    transition: 150ms;
    padding-top: 60px;
    border-top-right-radius: 15px;
    box-shadow: 1px 0px rgb(39, 39, 39);
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #ffffff;
    display: block;
    transition: 0.1s;
    user-select: none;
}

.sidenav a:hover {
    color: rgba(255, 255, 255, 0.623);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 208px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .2s;
    padding: 16px;
}

#myProgress {
    width: 100%;
    background-color: var(--resultarea-primary);
}

#myBar {
    width: 1%;
    height: 1vh;
    background-image: linear-gradient(to right, #1a2175, #83147a, #c91267, #f44b46, #ff8c12);
    transition: 200ms;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


#MessageBox {
    background-color: #23232D;
    position: absolute;
    top: 12%;
    color: white;
    right: 10px;
    transition: ease-in-out 200ms;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    border-radius: 15px;
    display: none;
}


.Minimizebtn {
    position: absolute;
    right: 10px;
    background-color: #22222b;
    border: none;
    color: white;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: ease-in-out 100ms;
}

.Minimizebtn:hover {
    background-color: #2e2e3a;
}

.Extendbtn {
    position: absolute;
    right: 10px;
    background-color: #22222b;
    border: none;
    color: white;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: ease-in-out 100ms;
}

.Extendbtn:hover {
    background-color: #2e2e3a;
}

#QuickResultAreaStyle {

    background-color: var(--resultarea-primary);
    width: 100%;
}

#QuickResultArea {
    height: 7.3vh;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    background-color: #191922;
    border-radius: 15px;
    margin-left: 3px;
    margin-right: 3px;
}

.ResultInfo {
    position: absolute;
    left: 12px;
    font-size: 17px;
    user-select: none;
}

#QuickResult {
    position: absolute;
    right: 24px;
    font-size: 17px;
    cursor: progress;
}

#QuickResult:hover {
    color: rgba(255, 255, 255, 0.623);
}
